.back {
  background-color: #f5f5f5;
  background-image: url("../assets/petslanding.jpg");
}
.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: -1;
}
.back h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
}
.back h2 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
}

.div-flot {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;

  border-radius: 50px;
  text-align: center;
}

.btn-floting {
  font-size: 2.9rem;
  font-weight: bold;
  color: #77b300;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
